button {
  margin-right: 10px;
}

textarea {
  margin-bottom: 20px;
}

input.form-control {
  margin-bottom: 2px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid tomato;
}