img {
    max-height: 250px;
}

.open {
  .dropdown-menu {
    display: block;
    margin-top: 40px;
  
    li {
      padding: 5px 20px;
      margin: 0;
  
      a {
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

