<a  
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix recipe">
  <div class="d-flex justify-content-sm-between">
      <ul class="list-group">
        <li class="list-group-item">
          <h4 style="margin: 0">{{ recipe.name }}</h4>
        </li>
        <li class="list-group-item">
          <p style="margin: 0">{{ recipe.desc }}</p>
        </li>
          
          
      </ul>

      <span class="d-flex">
          <img 
              src="{{ recipe.imgPath }}" 
              alt="{{ recipe.name }}" 
              class="img-resposive d-flex justify-content-center" 
              style="max-height: 100px; border-radius: 2px;">
      </span>
  </div>
</a>